{% extends 'base.html.twig' %}

{% block title %}Answer{% endblock %}

{% block body %}
    <h1>Answer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ answer.author.username }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ answer.body }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_answers') }}">Retour à la liste</a>

    {% if app.user == answer.author or is_granted('ROLE_ADMIN') %}
    <a href="{{ path('answer_edit', {'id': answer.id}) }}">Edit</a>
   
    
    {{ include('answer/_delete_form.html.twig') }}
     {% endif %}
{% endblock %}