{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h2>Les dernières questions</h2> 
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('question_new') }}">Nouvelle Question</a>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
   <div class="container questions">
   
       {% for question in questions %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <div class = "tags">
                    {% for tag in question.tags %}  <a href="{{path('tag_questions', {'id': tag.id}) }}" class="badge badge-warning">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                     <h6 class="card-subtitle mb-2 text-muted"> par {{question.author.username}} le {{question.createdAt|date('d-M-Y à h:m:s')}}</h6>
                    <p class="card-text">{{ question.body }}</p>
                    <a href="{{ path('question_show', {'id': question.id}) }}" class="card-link">Voir</a>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') and question.author == app.user or  is_granted('ROLE_MODERATOR')%}
                    <a href="{{ path('question_edit', {'id': question.id}) }}" class="card-link">Editer</a>
                    {% endif %}

                    {% if is_granted('ROLE_MODERATOR') %}
                    <form action="/backend/question/{{question.id}}/unallowed" method="post">
                    <button type="submit" class= "btn btn-dark float-right">Bloquer</button>
                    </form>
                    {% endif %}
                </div>
             </div>
                           
                    
             
        {% else %}
           
               <p>no records found </p> 
            
        {% endfor %}
      </div>
    
    

{% endblock %}
