{% extends 'base.html.twig' %}

{% block title %}FAQ-O'clock{% endblock %}

{% block body %}
    


   <div class="container questions">
       
            
               <ol> {% for question in questions %}
                    <li> <div class="container answer {{cycle(['answers-odd', 'answers-even'], loop.index0)}}">
               <a href="{{ path('question_show', {'id': question.id}) }}"> <h5>{{ question.title }}</h5> </a> par {{question.author.username}}
                <p>{{ question.body }}</p>
                </div>
                    </li>
              
                   {% if app.user == question.author or is_granted('ROLE_ADMIN') %}
                   
                    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                {% endif %}
        {% else %}
           
               <p>no records found </p> 
            
        {% endfor %}
         </ol>  
      </div>

    
    </div>
{% endblock %}