{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}


{% block body %}
 
 {% if question.isAllowed %}
 
<div class="container">

   <div>
       
   
    <h2>Question : {{ question.title }} </h2>  {% for tag in question.tags %}  <a href="{{ path('tag_questions', {'id':tag.id})}}" class="badge badge-warning">{{ tag.name }}</a>

{% endfor %}
    </div>
    <p>{{ question.body }}</p>
    <h3>Réponses</h3>
     {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
    <hr>
      {% for answer in answers %}
          
      
   
        {% if answer.isPreferred %}
        <div class="container preferred">
            <strong>Réponse préférée!</strong>
        <p>{{answer.body}}</p> <small> par {{answer.author.username}} le {{answer.createdAt|date('d-M-Y à h:m:s')}}</small>
     </div>
    <hr> 
         {% else %}
           
    

     <div class="container answer {{cycle(['answers-odd', 'answers-even'], loop.index0)}}">
        <p>{{answer.body}}</p> <small> par {{answer.author.username}} le {{answer.createdAt|date('d-M-Y à h:m:s')}}</small>  
          
        {% if app.user == question.author %} {# On affiche le formulaire uniquement si l'utilisateur est l'auteur de la question#}
          
        <form action="/backend/answer/{{answer.id}}/preferred" method="post">
        <button type="submit">Valider cette réponse</button>
        </form>
        {% endif %}
        {% if is_granted('ROLE_MODERATOR') %}
        <form action="/backend/answer/{{answer.id}}/unallowed" method="post">
        <button type="submit" class= "btn btn-dark float-right">Bloquer</button>
        </form>
        {% endif %}
   
    </div>
    <hr>
     {% endif %}
     {% endfor %}

    {% if is_granted('ROLE_USER') %}
   
    <h4>Saisissez votre réponse</h4>


   <form action="/backend/answer/new/{{question.id}}" method="post">
   
   <input type="textarea" name="a-body" class="answer-body">
    <button type="submit" class="answer-submit"> Valider</button>
   </form>


    </div>
{% endif %}
    {# <a href="{{ path('question_index') }}">back to list</a> #}
    {% if  app.user == question.author  %}
    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
    {% endif %}

    {% if  app.user == question.author  or is_granted('ROLE_ADMINISTRATOR') %}
    {{ include('question/_delete_form.html.twig') }}
     {% endif %}


    {% else %}
          <div class="alert alert-warning" role="alert">
                Cette question ne respectait pas notre charte!
                <a href="{{path('home')}}">Retour</a>
             </div>  
    {% endif %}

{% endblock %}